h1, form#search {
  display: inline-block;
  margin-left: 1em;
}

h1 {
  font-family: 'Serif';
  color: #F3BB30;
  font-size: 2.8em;
  margin-top: 0.5em;
  margin-bottom: 0em;
}

form#search {
  font-size: 1em;
  vertical-align: super;
}

input#q {
  width: 50vw;
}

li {
  display: inline-block;
  margin-right: 1em;
  padding: 0.1em;
}

li.selected {
  border-bottom: 3px solid #F3BB30;
}

