.container {
  overflow: auto;
  white-space: nowrap;
  border-top: 1px solid black;
}

.column {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-right: -3px;
  height: 100%;
}

